@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;
}


#navbar {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 20px;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 100000000;

    #nav-item-left {
        display: flex;
        align-items: center;
    }

    #nav-item-middle {
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

        #search {
            width: 100%;
            display: flex;
            align-items: center;

            #input {
                color: white;
                width: 100%;
                border: 2px solid black;
                background-color: transparent;
                padding: 8px;
            }

            #btn {
                background-color: #303030;
                padding: 6px;
                border: none;
                color: #b0b0b0;
            }
        }

        span {
            background-color: #000000;
            padding: 8px;
            border-radius: 50%;
        }

        .dark-light {
            padding: 10px;
        }
    }

    #nav-item-right {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}

#everything {
    width: 100vw;
    height: 90vh;
    display: grid;
    grid-template-columns: 2.5fr 10fr;
    box-sizing: border-box;

    /* .ls-bg-color {
        background-color: #212121;
        color: white;
        a{
            color: white;
        }
    } */

    #left-side {
        height: 90vh;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        position: sticky;
        left: 0;
        top: 10vh;
        overflow-y: scroll;

        #home {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            border-bottom: 1px solid gray;
            padding-bottom: 20px;

            a {
                display: flex;
                align-items: center;
                gap: 20px;
                text-decoration: none;
            }
        }

        #about {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            border-bottom: 1px solid gray;
            padding-bottom: 20px;

            a {
                display: flex;
                align-items: center;
                gap: 20px;
                text-decoration: none;
            }
        }

        #subscriptions {
            padding-bottom: 20px;
            border-bottom: 1px solid gray;

            div {
                display: flex;
                gap: 20px;
                margin: 15px;

                img {
                    border-radius: 50%;
                }
            }
        }


        #Explore {
            border-bottom: 1px solid gray;
            padding-bottom: 20px;

            .explore {
                display: flex;
                flex-direction: column;

                a {
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    margin: 8px;
                }
            }
        }

        #more-from-youtube {
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid gray;
            padding-bottom: 20px;

            a {
                text-decoration: none;
                display: flex;
                align-items: center;
                gap: 10px;
                margin: 10px;

                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }


        #setting {
            display: flex;
            flex-direction: column;
            gap: 10px;

            a {
                text-decoration: none;
                display: flex;
                align-items: center;
                gap: 20px;
            }
        }
    }

    .right-part {
        width: 100%;
        height: 90vh;
        overflow-y: scroll;

        .top-item {
            display: flex;
            align-items: center;
            white-space: nowrap;
            overflow-x: scroll;
            gap: 20px;
            padding: 15px;
            position: sticky;
            top: 0;

            .all {
                background-color: white;
                border-radius: 5px;
                color: rgb(40, 40, 40);
                padding: 5px 10px;
            }

            a {
                text-decoration: none;
            }
        }


    }


    .right-part ::-webkit-scrollbar {
        display: none;
    }

    #video-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 20px;
        box-sizing: border-box;
        row-gap: 40px;
        column-gap: 20px;

        a {
            text-decoration: none;
        }

        .video-templet {
            width: 250px;
            height: fit-content;
            /* border: 1px solid red; */

            img {
                width: 100%;
                height: 250px;
                object-fit: cover;
            }

            p {
                padding-top: 10px;
            }
        }

    }
}

/* .light-theam{
    .top-bg-color{
        background-color: white;
        color: black;
    }

    .nav-bg-color {
        background-color: white;
        color: black;
    }
    .rs-bg-color {
        background-color: white;
        color: black;
        a{
            color: black;
        }
    }

    .ls-bg-color {
        background-color: white;
        color: black;
        a{
            color: black;
        }
    }
} */


.dark-theam {
    .top-bg-color {
        background-color: #000000;
        color: white;
    }

    .nav-bg-color {
        background-color: #212121;
        color: white;
    }

    .rs-bg-color {
        background-color: #000000;
        color: white;

        a {
            color: white;
        }
    }

    .ls-bg-color {
        background-color: #212121;
        color: white;

        a {
            color: white;
        }
    }
}

.light-theam {
    .top-bg-color {
        background-color: white;
        color: black;
    }

    .nav-bg-color {
        background-color: white;
        color: black;
    }

    .rs-bg-color {
        background-color: white;
        color: black;

        a {
            color: black;
        }
    }

    .ls-bg-color {
        background-color: white;
        color: black;

        a {
            color: black;
        }
    }
}



@media only screen and (max-width: 600px) {
    #navbar {
        #nav-item-left {
            width: 10%;

            img {
                display: none;
            }
        }
        #nav-item-middle {
            width: 75%;
            #search {
                width: 100%;
                display: flex;
                align-items: center;
            }
            .dark-light {
                display: none;
            }
        }

        #nav-item-right {
            width: 10%;
            span {
                display: none;
            }
        }
    }

    #everything {
        #left-side {
            display: none;
        }

        .right-part {
            width: 100vw;
            height: 90vh;
        }


        .right-part ::-webkit-scrollbar {
            display: none;
        }

        #video-container {
            width: 100%;
            box-sizing: border-box;
            overflow: scroll;
            display: flex;
            flex-direction: column;
            align-items: center;

            grid-template-columns: 1fr;

            .video-templet {
                width: 100%;
                height: fit-content;
                border-radius: 10px;

                img {
                    width: 100%;
                    height: 250px;
                    object-fit: cover;
                    border-radius: 10px;
                }
            }
        }

        #video-container::-webkit-scrollbar {
            display: none;
        }
    }
}